/* CSS Reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} */

/* ----------------------------------------- */


@font-face {
    font-family: Open-Sans;
    src: url(./fonts/Open-Sans.ttf);
}

@font-face {
    font-family: Alegreya;
    src: url(./fonts/Alegreya.ttf);
}

:root {
    --darkest: #171717;
    --very-dark: #262626;
    --dark: #404040;
    --med: #737373;
    --med-light: #a3a3a3;
    --light: #e5e5e5;
    --lightest: #fafafa;

    --shadow: 1px 1px 3px rgb(0, 0, 0, .15);
    --hover-shadow: 3px 3px 5px rgb(0, 0, 0, .15);
    --border-radius-std: 5px;

    --spacing-lg: 1rem;
    --spacing-xl: 2rem;
    --spacing-md: 15px;
    --spacing-sm: 10px;
    --spacing-xs: 5px;

    --font-xl: 24px;
    --font-lg: 20px;
    --font-md: 16px;

    --status-read: #bbf7d0;
    --status-read-hover: #4ade80;
    --status-not-read: #fecaca;
    --status-not-read-hover: #f87171;

    --input-height: calc(var(--font-xl) + var(--spacing-xs) + 1px);

    font-family: Open-Sans, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: var(--font-md);
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: auto 1fr;
    min-height: 100%;
    background-color: var(--dark);
}

.header {
    grid-row: 1 / span 1;

    display: flex;
    gap: var(--spacing-lg);
    align-items: center;

    background-color: var(--lightest);
    padding: var(--spacing-xl);
    z-index: 1;
    box-shadow: 0px 3px 2px rgb(0, 0, 0, .10);

}

.header>img {
    shape-rendering: geometricPrecision;
    /* filter: brightness(0) invert(1); */
    height: 85px;
    width: 85px;

}

.header>h1 {
    font-family: Alegreya;
    color: var(--darkest);
    letter-spacing: 3px;
    font-size: 65px;
    font-weight: bold;
}

.main {
    /* background-color: var(--light); */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    gap: var(--spacing-xl);

    padding: var(--spacing-xl);
}

.main>article.book-card {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--spacing-sm);
    align-items: center;
    overflow-wrap: break-word;
    text-align: center;

    border: 2px solid var(--med);
    box-shadow: var(--shadow);
    border-radius: var(--border-radius-std);
    padding: var(--spacing-lg);
    background-color: var(--light);
    transform: scale(1);

    transition: all .1s ease-in-out;
}

.main>article.book-card.creation {
    transform: scale(1);
    transition: all .3s ease-in-out;
}

.main>article.book-card.faded, .main>article.book-card.faded:hover {
    /* opacity: 0; */
    transform: scale(0);
    transition: all .3s ease-in-out;
}

.main>article.book-card:hover {
    transform: scale(1.02);
    box-shadow: var(--hover-shadow);
    transition: all .1s ease-in-out;
}

article.book-card>h2 {
    color: var(--darkest);
    font-size: var(--font-xl);
    font-weight: bold;

}

article.book-card>h3 {
    color: var(--darkest);
    font-size: var(--font-lg);
    overflow-wrap: anywhere;
}

article.book-card>button.read-status {
    background-color: var(--status-read);
    font-size: var(--font-md);
    letter-spacing: 1px;
    font-weight: bold;
    height: 42px;
    align-self: stretch;
    border: 1px solid var(--status-read);
    border-radius: var(--border-radius-std);

    margin-top: auto;

}

article.book-card>button.read-status:hover {
    background-color: var(--status-read-hover);
    border-color: var(--status-read-hover);

}

article.book-card>button.read-status.not-read {
    background-color: var(--status-not-read);
    border-color: var(--status-not-read);
}

article.book-card>button.read-status.not-read:hover {
    background-color: var(--status-not-read-hover);
    border-color: var(--status-not-read-hover);

}

article.book-card>button.remove-button {
    position: absolute;
    top: 5px;
    right: 5px;

    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;

    font-size: var(--font-sm);
    font-weight: bold;

    height: 20px;
    width: 20px;
    text-align: center;


    border-radius: 100%;
    border: 2px solid var(--med-light);
    background-color: var(--med);
    color: var(--light);
}

article.book-card>button.remove-button:hover {
    border: 2px solid var(--dark);

}

.main>article.add-book-card {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--spacing-lg);
}

article.add-book-card>button {

    display: flex;
    /* flex: .5; */
    width: 100px;
    aspect-ratio: 1/1;

    border-radius: 100%;
    border: 2px solid var(--med-light);
    background-color: var(--med);
    color: var(--light);
    box-shadow: var(--shadow);

    transition: all .5s ease-in-out;

}

article.add-book-card>button:hover {
    transform: rotate(360deg) scale(1.15);
    background-color: var(--med-light);
    border: 2px solid var(--very-dark);
    box-shadow: var(--hover-shadow);
    transition-duration: .2s;

}

article.add-book-card>button:active {
    transform: rotate(360deg) scale(1.15);
    background-color: var(--med);
    border: 2px solid var(--very-dark);
    transition-duration: 0s;
}

article.add-book-card>button>span {
    text-align: center;
    margin: auto;
    font-size: 50px;
    font-weight: bold;
}

label,
button {
    display: block;
}

.form-window {
    transform: scale(0) translate(-50%, -50%);
    transform-origin: top left;
    visibility: hidden;
    opacity: 0;
    z-index: -1;

    position: fixed;
    /* z-index: 10; */
    top: 50%;
    left: 50%;

    background-color: var(--med-light);
    border: 2px solid var(--darkest);
    border-radius: var(--border-radius-std);
    box-shadow: var(--hover-shadow);

    padding: var(--spacing-lg);
    transition: all .2s ease-in-out;
}

.form-window.show {
    transform: scale(1) translate(-50%, -50%);
    transform-origin: top left;
    visibility: visible;
    z-index: 15;
    opacity: 1;
    /* top: 50%;
    left: 50%; */

}

.form-window .form-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: var(--spacing-md) var(--spacing-sm);
    align-items: center;
}

.form-grid>h2 {
    grid-column: 1 / span 2;

    text-align: center;
    font-size: var(--font-xl);
    font-weight: bold;
}

.form-grid>label {
    grid-column: 1 / span 1;

    font-size: var(--font-lg);
    text-align: end;
}

.form-grid>input {
    grid-column: 2 / span 1;

    font-size: var(--font-md);
    color: var(--dark);

    height: var(--input-height);
    width: 200px;
    padding: var(--spacing-xs);
    border-color: var(--dark);
    border-radius: var(--border-radius-std);
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
    outline: none;
}

.form-grid>input:focus {
    border: 2px solid var(--darkest);
    box-shadow: var(--shadow);
    height: calc(var(--input-height));
}

.form-grid>input[type="checkbox"] {
    justify-self: start;
    height: var(--input-height);
    width: var(--input-height);
    accent-color: var(--dark);

}

.form-grid>button[id="submit-book"] {
    grid-column: 1 / span 2;

    width: 50%;
    height: 40px;
    justify-self: center;

    color: var(--lightest);
    font-size: var(--font-md);
    font-weight: bold;
    background-color: var(--very-dark);
    border-color: var(--very-dark);
    border-radius: var(--border-radius-std);
    border-style: solid;
}

.form-grid>button[id="submit-book"]:hover {
    border-color: var(--dark);
    background-color: var(--dark);
    border-style: outset
}

.form-grid>button[id="submit-book"]:active {
    border-style: inset;
    background-color: var(--med);
    border-color: var(--dark)
}

.form-grid>button[type="submit"] {
    visibility: hidden;
}

.form-backdrop {
    visibility: hidden;
    opacity: 0;
    z-index: -1;

}

.form-window.show ~ .form-backdrop {
    visibility: visible;
    opacity: 1;
    z-index: 11;

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vw;
    background-color: rgb(0,0,0,0.5);

}